<div ng-controller="mostrarController as vm" class="contenedor">
    <div class="row">
        <div class="col s12" >
            <div class="row white col s12" style="border-radius: 15px; border:2px solid #D50000; width: 100%">
                <div class="contenedor">
                    <div class="row">
                        <div class="col s1">
                            <a ui-sref="app.nodo_nuevo" class="waves-effect waves-teal waves-light btn-flat" style="float: left; padding: 0 0">
                                <i class="material-icons red-text text-accent-4" style="font-size: 26px;">arrow_back</i></a>
                        </div>
                        <div class="col s3">
                            <h2><b>Rutas</b></h2>
                        </div>
                        <div class="col s4">
                            <a style="border-radius: 25px" type="button" class="waves-effect waves-light btn light-green" ng-click="vm.guardar()" ng-hide="vm.editMode"
                                   ui-sref="app.mostrar_grafos">VISUALIZAR GRAFOS</a>
                        </div>
                        <div class="col s4">
                            <div class="input-field col s12 grey lighten-3" style="padding: .5em; border-radius: 15px; height: 37px; border: none">
                                <i class="material-icons prefix" style="color: #D50000;">search</i>
                                <input  id="icon_prefix" type="text" ng-model="filtro">
                                <label for="icon_prefix">Buscar</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <table class="striped bordered responsive-table">
                                <thead>
                                <th style="color: #D50000; text-align: center">Nodo origen</th>
                                <th style="color: #D50000; text-align: center">Nodo destino</th>
                                <th style="color: #D50000; text-align: center">Distancia (Km)</th>
                                <th style="color: #D50000; text-align: center">Tiempo de recorrido (horas)</th>
                                <th colspan="2"></th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ruta in vm.rutas | filter : filtro">
                                    <td style="text-align: center">{{ruta.origen}}</td>
                                    <td style="text-align: center">{{ruta.destino}}</td>
                                    <td style="text-align: center">{{ruta.distancia}} {{'Km'}}</td>
                                    <td style="text-align: center">{{ruta.tiempo}} {{'H'}}</td>
                                    <td style="text-align: center">
                                        <a title="Modificar ruta" href="javascript:" ng-click="vm.actualizar(ruta)">
                                            <i style="color: #9ccc65" class="material-icons prefix">visibility</i>
                                        </a>
                                        <a title="Eliminar ruta" href="javascript:" ng-click="vm.eliminar(ruta.id)">
                                            <i style="color: #D50000" class="material-icons prefix">delete</i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalRutasM" class="modal modal-fixed-footer" style="width: 70%;height:60%;">
        <div class="modal-content">
            <h2><strong>{{vm.nombreForm}}</strong></h2>
            <form name="formNuevaRuta" class="row">
                <div class="col s4">
                    <div class="row">
                        <div class="input-field">
                            <i style="color: #D50000"class="material-icons prefix">account_circle</i>
                            <input id="nodo_origen" name="nombre" type="text" ng-model="vm.ruta.origen"
                                   readonly
                                   required>
                            <label for="nodo_origen" class="{{vm.active}}">Nodo origen</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <i style="color: #D50000"class="material-icons prefix">account_circle</i>
                            <input id="nodo_destino" name="nombre" type="text" ng-model="vm.ruta.destino"
                                   readonly
                                   required>
                            <label for="nodo_origen" class="{{vm.active}}">Nodo origen</label>
                        </div>
                    </div>
                    <!--<div class="row" ng-hide="vm.editMode">-->
                        <!--<div class="col s12">-->
                            <!--<div ng-hide="vm.editMode">-->
                                <!--<a style="border-radius: 25px" class="waves-effect waves-light btn light-green" ng-class="{'disabled': formNuevaRuta.$invalid}"-->
                                   <!--ng-click="vm.guardarRuta()">Crear ruta</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="col s8">
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <i style="color: #D50000"class="material-icons prefix">timeline</i>
                                <input id="cantidad_peajes" name="nombre" type="number" ng-model="vm.ruta.cantidad_peajes"
                                       readonly
                                       required>
                                <label for="cantidad_peajes" class="{{vm.active}}">Cantidad de peajes</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <i style="color: #D50000"class="material-icons prefix">av_timer</i>
                                <input id="tiempo" name="nombre" type="number" ng-model="vm.ruta.tiempo"
                                       readonly
                                       required>
                                <label for="tiempo" class="{{vm.active}}">Tiempo estimado de llegana en minutos</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <i style="color: #D50000"class="material-icons prefix">timeline</i>
                                <input id="distancia" name="nombre" type="number" ng-model="vm.ruta.distancia"
                                       readonly
                                       required>
                                <label for="distancia" class="{{vm.active}}">Distancia en kilometros</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <select class="browser-default" name="estado_via" id="estado_via"
                                        ng-model="vm.ruta.estado_via" required ng-hide="vm.editMode"
                                        disabled>
                                    <option value="" disabled selected>Seleccione el estado de la via</option>
                                    <option value="0">Excelente</option>
                                    <option value="1">Buena</option>
                                    <option value="2">Mala</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <select class="browser-default" name="tipo_via" id="tipo_via"
                                        ng-model="vm.ruta.tipo_via" required ng-hide="vm.editMode"
                                        disabled>
                                    <option value="" disabled selected>Seleccione el tipo de via</option>
                                    <option value="0">Doble calzada</option>
                                    <option value="1">Media calzada</option>
                                    <option value="2">Una calzada</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <select class="browser-default" name="condiciones_via" id="condiciones_via"
                                        ng-model="vm.ruta.condiciones_via" required ng-hide="vm.editMode"
                                        disabled>
                                    <option value="" disabled selected>Seleccione condiciones de la via</option>
                                    <option value="0">Plana</option>
                                    <option value="1">Quebrada</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <select class="browser-default" name="seguridad_via" id="seguridad_via"
                                        ng-model="vm.ruta.seguridad_via" required ng-hide="vm.editMode"
                                        disabled>
                                    <option value="" disabled selected>Seleccione la seguridad de la via</option>
                                    <option value="0">Segura</option>
                                    <option value="1">Insegura</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red "
               style="margin-left:10px; border-radius: 25px">Salir</a>
        </div>
    </div>
</div>